svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 20 14')
    g#menu(transform='translate(-2 -5)')
        path#Path_1204(data-name='Path 1204' d='M3,12H21' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1205(data-name='Path 1205' d='M3,6H21' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1206(data-name='Path 1206' d='M3,18H21' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
