svg(xmlns='http://www.w3.org/2000/svg' width='14.828' height='14.828' viewbox='0 0 14.828 14.828')
    g#x(transform='translate(-4.586 -4.586)')
        path#Path_1282(data-name='Path 1282' d='M18,6,6,18' fill='none' stroke='#d5d5d5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1283(data-name='Path 1283' d='M6,6,18,18' fill='none' stroke='#d5d5d5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
