svg(xmlns='http://www.w3.org/2000/svg' width='11' height='21' viewbox='0 0 11 21')
    text#_(data-name='₾' transform='translate(0 17)' fill='#db5038' font-size='16' font-family='SegoeUI, Segoe UI')
        tspan(x='0' y='0') &#x20BE;
