svg(xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewbox='0 0 20 22')
    g#home(transform='translate(1 1)')
        path#Path_1262(data-name='Path 1262' d='M3,9l9-7,9,7V20a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z' transform='translate(-3 -2)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1263(data-name='Path 1263' d='M9,22V12h6V22' transform='translate(-3 -2)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
