svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewbox='0 0 22 22')
    g#instagram(transform='translate(1.317 1)')
        rect#Rectangle_102(data-name='Rectangle 102' width='20' height='20' rx='5' transform='translate(-0.317)' fill='none' stroke='#707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1012(data-name='Path 1012' d='M16,11.37A4,4,0,1,1,12.63,8,4,4,0,0,1,16,11.37Z' transform='translate(-2.148 -2)' fill='none' stroke='#707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1013(data-name='Path 1013' d='M17.5,6.5h.01' transform='translate(-2.148 -2)' fill='none' stroke='#707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
