svg(xmlns='http://www.w3.org/2000/svg' width='22.785' height='18' viewbox='0 0 22.785 18')
    g#mail(transform='translate(1.393 1)')
        path#Path_1019(data-name='Path 1019' d='M4,4H20a2.006,2.006,0,0,1,2,2V18a2.006,2.006,0,0,1-2,2H4a2.006,2.006,0,0,1-2-2V6A2.006,2.006,0,0,1,4,4Z' transform='translate(-2 -4)' fill='none' stroke='#dd5c46' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1020(data-name='Path 1020' d='M22,6,12,13,2,6' transform='translate(-2 -4)' fill='none' stroke='#dd5c46' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
