svg(xmlns='http://www.w3.org/2000/svg' width='51.113' height='31.592' viewbox='0 0 51.113 31.592')
    g#Group_30(data-name='Group 30' transform='translate(0 0)')
        rect#Rectangle_105(data-name='Rectangle 105' width='13.821' height='24.837' transform='translate(18.647 3.377)' fill='#ff5f00')
        path#Path_1016(data-name='Path 1016' d='M357.235,285.8a15.768,15.768,0,0,1,6.033-12.419,15.8,15.8,0,1,0,0,24.837,15.769,15.769,0,0,1-6.033-12.419Z' transform='translate(-337.711 -269.999)' fill='#eb001b')
        path#Path_1017(data-name='Path 1017' d='M421.514,285.8a15.8,15.8,0,0,1-25.556,12.419,15.8,15.8,0,0,0,0-24.837A15.8,15.8,0,0,1,421.514,285.8Z' transform='translate(-370.401 -270)' fill='#f79e1b')
        path#Path_1018(data-name='Path 1018' d='M450.363,327.524v-.508h.205v-.1h-.522v.1h.205v.508Zm1.014,0v-.613h-.16l-.184.422-.184-.422h-.16v.613h.113v-.462l.173.4h.117l.173-.4v.463Z' transform='translate(-400.757 -301.94)' fill='#f79e1b')
