svg(xmlns='http://www.w3.org/2000/svg' width='10.183' height='10.183' viewbox='0 0 10.183 10.183')
    g#plus(transform='translate(0.5 0.5)')
        path#Path_1255(data-name='Path 1255' d='M12,5v9.183' transform='translate(-7.409 -5)' fill='none' stroke='#323030' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' opacity='0')
        path#Path_1256(data-name='Path 1256' d='M5,12h9.183' transform='translate(-5 -7.409)' fill='none' stroke='#323030' stroke-linecap='round' stroke-linejoin='round' stroke-width='1')
