svg#shopping-cart(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 23')
    path#Path_1134(data-name='Path 1134' d='M1,0A1,1,0,1,1,0,1,1,1,0,0,1,1,0Z' transform='translate(8 20)' fill='none' stroke='#fff' stroke-linecap='round' stroke-width='2')
    path#Path_1133(data-name='Path 1133' d='M1,0A1,1,0,1,1,0,1,1,1,0,0,1,1,0Z' transform='translate(19 20)' fill='none' stroke='#fff' stroke-linecap='round' stroke-width='2')
    path#Path_6(data-name='Path 6' d='M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6' fill='#fff' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
