svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 18.599 20.674')
    g#user(transform='translate(1 1)')
        path#Path_7(data-name='Path 7' d='M20.6,21.225V19.15A4.15,4.15,0,0,0,16.45,15H8.15A4.15,4.15,0,0,0,4,19.15v2.075' transform='translate(-4 -2.55)' fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
        path#Path_1132(data-name='Path 1132' d='M4.15,0A4.15,4.15,0,1,1,0,4.15,4.15,4.15,0,0,1,4.15,0Z' transform='translate(4.15 0)' fill='none' stroke='#fff' stroke-linecap='round' stroke-width='2')
