

.second__container
    .second__container__wrapper
        .second__container__wrapper__category
            h3.second__container__wrapper__category__heading ტოპ პროდუქცია
            .category__list__wrapper
                ul.second__container__wrapper__category__list 
                    span.active__line
                    li
                        a(href="#") მზის სათვალე  
                    li
                        a(href="#") ოპტიკური სათვალე
                    li
                        a(href="#") კონტაქტური ლინზები



        .swiper-container
            .slider__arrow__left
                include ../../components/swiper-right
            .slider__arrow__right
                include ../../components/swiper-right
            .swiper
                ul.swiper__wrapper.swiper-wrapper
                    li.swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.swiper__wrapper__slide__img__group
                                .swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart

                                img(src="../../docs/assets/img/rayban-glasses-2.jpg" alt="")
                            span.swiper__wrapper__slide__text
                                span.swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.swiper__wrapper__slide__img__group
                                .swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="../../docs/assets/img/rayban-glasses-2.jpg" alt="")
                            span.swiper__wrapper__slide__text
                                span.swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.swiper__wrapper__slide__img__group
                                .swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="../../docs/assets/img/rayban-glasses-2.jpg" alt="")
                            span.swiper__wrapper__slide__text
                                span.swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.swiper__wrapper__slide__img__group
                                .swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="../../docs/assets/img/rayban-glasses-2.jpg" alt="")
                            span.swiper__wrapper__slide__text
                                span.swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

        .second__container__wrapper__see__more
            button.second__container__wrapper__see__more__button მეტის ნახვა
            .products__swiper__pagination.swiper-pagination