.fourth__container 
    .fourth__container__wrapper
        .swiper-container.fourth__container__swiper
            .fourth__container__wrapper__images.swiper-wrapper
                .fourth__container__wrapper__images__sun__glasses.swiper-slide
                    .img__overlay
                        p მზის სათვალე
                        button იყიდე
                .fourth__container__wrapper__images__optic__glasses.swiper-slide
                    .img__overlay
                        p ოპტიკური სათვალე
                        button იყიდე
                .fourth__container__wrapper__images__contact__lenses.swiper-slide
                    .img__overlay
                        p კონტაქტური ლინზები
                        button იყიდე


        hr.images__logos__separator  


        .fourth__container__wrapper__logos
            .fourth__container__wrapper__logos__top__line
                img(src="assets/img/rayban-logo-gray.svg" alt="") 
                img(src="assets/img/dolce-gabbana.svg" alt="") 
                img(src="assets/img/persol.svg" alt="") 
                img(src="assets/img/oakley.svg" alt="") 
                img(src="assets/img/tiffany-co.svg" alt="") 
            .fourth__container__wrapper__logos__bottom__line
                img(src="assets/img/persol.svg" alt="") 
                img(src="assets/img/rayban-logo-gray.svg" alt="") 
                img(src="assets/img/dolce-gabbana.svg" alt="") 
                img(src="assets/img/tiffany-co.svg" alt="") 
                img(src="assets/img/oakley.svg" alt="") 
