

.third__container
    .third__container__wrapper
        .third__container__wrapper__category
            h2.third__container__wrapper__category__heading sale
            .category__list__wrapper
                ul.third__container__wrapper__category__list 
                    span.sale__active__line
                    li
                        a(href="#") მზის სათვალე  
                    li
                        a(href="#") ოპტიკური სათვალე
                    li
                        a(href="#") კონტაქტური ლინზები



        .swiper-container.sale__swiper__container
            .sale__slider__arrow__left
                include ../../components/swiper-right
            .sale__slider__arrow__right
                include ../../components/swiper-right
            .swiper-sale.sale__swiper
                ul.sale__swiper__wrapper.swiper-wrapper
                    li.sale__swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.sale__swiper__wrapper__slide__img__group
                                .sale__swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart

                                img(src="assets/img/rayban-glasses-2.jpg" alt="")
                            span.sale__swiper__wrapper__slide__text
                                span.sale__swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.sale__swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.sale__swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.sale__swiper__wrapper__slide__img__group
                                .sale__swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="assets/img/rayban-glasses-2.jpg" alt="")
                            span.sale__swiper__wrapper__slide__text
                                span.sale__swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.sale__swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.sale__swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.sale__swiper__wrapper__slide__img__group
                                .sale__swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="assets/img/rayban-glasses-2.jpg" alt="")
                            span.sale__swiper__wrapper__slide__text
                                span.sale__swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.sale__swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

                    li.sale__swiper__wrapper__slide.swiper-slide
                        a(href="#")
                            span.sale__swiper__wrapper__slide__img__group
                                .sale__swiper__wrapper__slide__img__group__svg
                                    include ../../components/alert
                                    include ../../components/heart
                                img(src="assets/img/rayban-glasses-2.jpg" alt="")
                            span.sale__swiper__wrapper__slide__text
                                span.sale__swiper__wrapper__slide__text__title JBL Tune T510 BT Wireless On-Ear Headphones Black
                                span.sale__swiper__wrapper__slide__text__price
                                    span 800.00
                                    span
                                        include ../../components/gel
                                    span ლარი

        .third__container__wrapper__see__more
            button.third__container__wrapper__see__more__button მეტის ნახვა
            .sale__products__swiper__pagination.swiper-pagination