.pop_up_shopping_cart
    .pop_up_shopping_cart_container
        .pop_up_shopping_cart_container_wrapper
            .pop_up_shopping_cart_container_wrapper_qty
                p.pop_up_heading არჩეული პროდუქცია
                    span.pop_up_qty (4)


                include ../components/close

            .pop_up_shopping_cart_container_wrapper_list


            .pop_up_shopping_cart_container_wrapper_buttons

