footer
    .white_footer_wrapper    
        .white_footer
            p
                include ../components/phone
                span 596 330011 / (032) 2608754
            p.address
                include ../components/location
                span 0152 / Rustaveli ave. 10 / Tbilisi
            p
                include ../components/mail
                span kenari@kenari.ge
    .black_footer_wrapper            
        .black_footer
            p.social_icons
                span
                    include ../components/facebook
                span
                    include ../components/instagram
                span
                    include ../components/youtube
            p.payment_icons
                span
                    include ../components/visa
                span
                    include ../components/master_card
                span
                    include ../docs/assets/img/space-bank.svg
            span.website_copyright
                |დამზადებულია 
                span.smart_web smart web
                |-ის მიერ