
.container
    .slider.swiper-container
        .swiper__arrow 
            .swiper__arrow__left
            .swiper__arrow__right
        .slider__wrapper.swiper-wrapper
            .slider__wrapper__slide.swiper-slide
                .overlay
                    .overlay__text
                        h2.overlay__text__heading ახალი კოლექცია
                        p.overlay__text__para დროა აღვნიშნოთ ზაფხულის მოსვლა. აირჩიე შენი ახალი მზის სათვალე და დაიწყე ფიქრი დასვენებაზე.
                        button.overlay__text__button სრულად ნახვა
            .slider__wrapper__slide.swiper-slide
                .overlay
                    .overlay__text
                        h2.overlay__text__heading ახალი კოლექცია
                        p.overlay__text__para დროა აღვნიშნოთ ზაფხულის მოსვლა. აირჩიე შენი ახალი მზის სათვალე და დაიწყე ფიქრი დასვენებაზე.
                        button.overlay__text__button სრულად ნახვა
            .slider__wrapper__slide.swiper-slide
                .overlay
                    .overlay__text
                        h2.overlay__text__heading ახალი კოლექცია
                        p.overlay__text__para დროა აღვნიშნოთ ზაფხულის მოსვლა. აირჩიე შენი ახალი მზის სათვალე და დაიწყე ფიქრი დასვენებაზე.
                        button.overlay__text__button სრულად ნახვა
            .slider__wrapper__slide.swiper-slide
                .overlay
                    .overlay__text
                        h2.overlay__text__heading ახალი კოლექცია
                        p.overlay__text__para დროა აღვნიშნოთ ზაფხულის მოსვლა. აირჩიე შენი ახალი მზის სათვალე და დაიწყე ფიქრი დასვენებაზე.
                        button.overlay__text__button სრულად ნახვა
            .slider__wrapper__slide.swiper-slide
                .overlay
                    .overlay__text
                        h2.overlay__text__heading ახალი კოლექცია
                        p.overlay__text__para დროა აღვნიშნოთ ზაფხულის მოსვლა. აირჩიე შენი ახალი მზის სათვალე და დაიწყე ფიქრი დასვენებაზე.
                        button.overlay__text__button სრულად ნახვა
        .swiper-pagination