.lenses_container
    nav.lenses_container_wrapper
        .lenses_container_wrapper_content
            ul.lenses_container_wrapper_content_brands
                li.content_heading.brands_heading ბრენდის მიხედვით 

                .lenses_container_wrapper_content_brands_list
                    li
                        a(href="#") acuvue  
                    li
                        a(href="#") dailies 
                    li
                        a(href="#") air optix  
                    li
                        a(href="#") biofinity  
                    li
                        a(href="#") soflens
                    li
                        a(href="#") acuvue
                    li
                        a(href="#") dailies  
                    li
                        a(href="#") air optix  
                    li
                        a(href="#") biofinity  
                    li
                        a(href="#") soflens  

                li.expand 
                    a(href="#") ყველა ბრენდი



            .lenses_container_wrapper_content_duration

                ul
                    li.content_heading.duration_heading ერთ დღიანი ლინზები

                    .lenses_list
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses.svg" alt="")
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses-2.svg" alt="")
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses-3.svg" alt="")
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                    li.expand 
                        a(href="#") ყველას ნახვა



                ul
                    li.content_heading.duration_heading ერთ თვიანი ლინზები

                    .lenses_list
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses.svg" alt="") 
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses-2.svg" alt="") 
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.lenses_list_item
                            a.lenses_list_item_link(href="#")
                                img(src="assets/img/lenses-3.svg" alt="") 
                                span.lenses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                    li.expand
                        a(href="#") ყველას ნახვა