nav.slide_menu
    .slide_menu_wrapper
        ul
            li
                a(href="index.html")  მთავარი
            li
                a(href="production.html")  პროდუქცია
            li
                a(href="about.html")  ჩვენ შესახებ
            li
                a(href="delivery.html")  მიწოდების პირობები
            li
                a(href="card.html")  სასაჩუქრე ბარათი
            li
                a(href="blog.html")  ბლოგი
            li
                a(href="faq.html")  FAQ
            li
                a(href="rules.html")  წესები და პირობები
            li
                a(href="contact.html")  კონტაქტი