.sun_glasses_container
    nav.sun_glasses_container_wrapper
        .sun_glasses_container_wrapper_content
            ul.sun_glasses_container_wrapper_content_filter
                .sun_glasses_container_wrapper_content_filter_sex
                    .sun_glasses_container_wrapper_content_filter_sex_heading
                        li.filter_heading.filter_sex_heading სქესი
                    .sun_glasses_container_wrapper_content_filter_sex_list
                        li
                            a(href="#") ქალი 
                        li
                            a(href="#") კაცი 

                .sun_glasses_container_wrapper_content_filter_brands
                    .sun_glasses_container_wrapper_content_filter_brands_heading
                        li.filter_heading.filter_brands_heading ბრენდი
                    .sun_glasses_container_wrapper_content_filter_brands_list
                        li
                            a(href="#") Ray-Ban
                        li
                            a(href="#") Oakley 
                        li
                            a(href="#") Persol 
                        li
                            a(href="#") Ferragamo 
                        li
                            a(href="#") Dolce & Gabbana 

                li.expand 
                    a(href="#") ყველა ბრენდი



            .sun_glasses_container_wrapper_content_glasses
                ul
                    li.glasses_heading.popular_glasses_heading პოპულარული მოდელები

                    .sun_glasses_list
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="")
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="")
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="")
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                    li.expand 
                        a(href="#") ყველას ნახვა



                ul
                    li.glasses_heading.sale_glasses_heading ფასდაკლება

                    .sun_glasses_list
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="") 
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="") 
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                        li.sun_glasses_list_item
                            a.sun_glasses_list_item_link(href="#")
                                span.rayban_logo
                                    include ../components/rayban-logo
                                img.rayban_img(src="../docs/assets/img/rayban-glasses.svg" alt="") 
                                span.sun_glasses_list_item_link_text
                                    span Ray-Ban Clubmaster Metal
                                    span RB3716 | 186/R5
                    li.expand
                        a(href="#") ყველას ნახვა