@import abstracts/_fonts
@import abstracts/_colors
@import _media_queries
    
    
.search_on_site
    height: 66px
    position: fixed
    top: 163px
    width: 100%
    background: white
    transform: translateY(-100vh)
    z-index: 2
    transition: 300ms transform ease-out
    &.toggle
        transform: translateY(0)
    @include medium()
        top: auto
        bottom: 88px
        width: 100%
        transform: translateY(100vh)
    &_wrapper
        position: relative
        padding: 0 50px
        max-width: 1408px
        min-height: 66px
        height: 100%
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        @include medium()
            padding: 0 40px

        svg
            position: absolute
            width: 18px
            height: 18px
            @include small()
                width: 14px
                height: 14px

            path
                stroke:#D5D5D5
        input
            max-width: 1152px
            width: 100%
            height: 36px
            padding: 0 0 0 28px
            margin: 0 12px 0 0
            border: none
            outline: none
            border-bottom: 1px solid #D5D5D5
            font-size: $primary_font_size
            line-height: $primary_line_height + 7
            font-family: $secondary_font_family
            font-weight: $primary_font_weight
            color: #D5D5D5
            @include small()
                font-size: $primary_font_size - 5
                padding: 0 0 0 18px
                margin: 0 6px 0 0
            &::placeholder
                color: #D5D5D5
                font-size: $primary_font_size
                line-height: $primary_line_height + 7
                font-family: $secondary_font_family
                font-weight: $primary_font_weight
                @include small()
                    font-size: $primary_font_size - 5
        button
            width: 132px
            height: 36px
            margin: 0 0 0 12px
            border: none
            color: white
            background: $primary_color
            @include small()
                margin: 0 0 0 6px
                width: 100px