@import _header
@import _content
@import _footer
@import _media_queries

*
    margin: 0
    padding: 0
    box-sizing: border-box

a, li
    text-decoration: none
    list-style: none

body, html
    width: 100%

body
    padding: 96px 0 0 0
    @include medium()
        padding: 64px 0 88px 0
    @include small()
        padding: 68px 0 88px 0
    &.no_scroll
        overflow: hidden

// .container
//     max-width: 500px
//     margin: 0 auto
//     overflow: hidden

// .slider
//     color: blue
//     max-width: 500px
//     margin: 0 auto
//     height: 300px
//     position: relative
//     &__wrapper
//         font-size: 35px
//         &__slide
//             color: red
//             height: 300px
//             width: 100%
//             flex-shrink: 0
//             img
//                 width: 100%
//                 height: 100%
//                 object-fit: cover

// .swiper
//     &__left,
//     &__right
//         position: absolute
//         top: 50%
//         transform: translateY(-50%)
//         z-index: 5
//         width: 40px
//         height: 40px
//         background: black
//         border-radius: 50%
//         display: flex
//         align-items: center
//         justify-content: center
//         cursor: pointer
//         &.disabled
//             opacity: 0.3
//         &::after
//             content: url(../img/slider-right.svg)
//             display: inline-block
//             width: 10px
//             height: 20px
//     &__left
//         left: 20px
//         &::after
//             transform: scaleX(-1)
//     &__right
//         right: 20px
