- const title = 'home'
doctype html
html(lang="en")
	head
		include ../layouts/_head
	body
		include ../layouts/_header
		include ../layouts/_content
		include ../layouts/_footer
		script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
		script(src="assets/js/main.js") 
		script(src="assets/js/slider.js") 